 {% extends "base.html" %}
 
 {% block title %}Author Register{% endblock %}
 
 {% block content %}
 
 <div class ="row">
     
     <div class="col-md-offset-3 col-md-6">
         
         <h3>Author Registration</h3>
         
         <form method="POST" action="{{ url_for('register') }}" role="form">
             
             {{ form.hidden_tag() }}
             <!-- used at the beginning of the form to secure it from hackers --> 
             
             <!-- display a field -->
             <!-- grouping field properties with Bootstrap -->
             <div class="form-group">
                  {{ form.fullname.label }}
                  {{ form.fullname|safe }} 
                  <!-- safe means left side content is from trusted source -->
             </div>
             <div class="form-group">
                  {{ form.email.label }}
                  {{ form.email|safe }} 
             </div>
             
             <button type="submit" class="btn btn-default">Register</button>
         </form>
         
     </div>
 </div>
 